// Colors
$main-white: #fff !default;
$main-black: #000 !default;
$primary-color: #26b !default;
$text-color: #666 !default;
$grey-color: #999 !default;
$border-color: #eee !default;
$line-color: #e6e6e8 !default;
$brown-color: #d26e4b !default;
$section-bg: #f6f7f9 !default;
$footer-bg: #222 !default;